<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>657874925655-i7b6gjm7hi0j3aipg7jgtst4hcs2r3f5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.657874925655-i7b6gjm7hi0j3aipg7jgtst4hcs2r3f5</string>
	<key>API_KEY</key>
	<string>AIzaSyAUSTOHo65FB61ql0u_fY3iQ1aJeNPXRVs</string>
	<key>GCM_SENDER_ID</key>
	<string>657874925655</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>abu.Persomi</string>
	<key>PROJECT_ID</key>
	<string>persomi-fe5da</string>
	<key>STORAGE_BUCKET</key>
	<string>persomi-fe5da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:657874925655:ios:e4c93fa69305b5d0fd8b12</string>
</dict>
</plist>